@font-face {
  font-family: Lexend;
  src: url(assets/Lexend/Lexend-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Lexend;
  background-color: #ffd074;
}

.header {
  display: grid;
  /* grid-template-areas:
    "header-logo menu-left menu-right"
    "main main main"
    "form-container form-image"
    "banner-headline banner-CTA-button"; */
  grid-template-columns: 1fr 6fr 1fr;
  height: 100px;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #ffd074;
}

.header-logo {
  height: 25px;
  width: auto;
  display: flex;
}

.header-logo:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.header-logo:not(:hover) {
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.menu-left a {
  margin: 10px;
  font-size: 0.9rem;
  text-decoration: none;
  color: #252525;
}

.menu-left a:hover {
  color: aliceblue;
  transition: 0.3s;
}

.menu-left a:not(:hover) {
  color: #252525;
  transition: 0.3s;
}

.menu-right a {
  text-decoration: none;
  color: #252525;
  font-size: 0.9rem;
}

.menu-right a:hover {
  color: aliceblue;
  transition: 0.3s;
}

.menu-right a:not(:hover) {
  text-decoration: none;
  color: #252525;
  font-size: 0.9rem;
  transition: 0.3s;
}

.CTA-button {
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #252525;
  color: aliceblue;
  border: none;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
}

.CTA-button:hover {
  box-shadow: 1px 1px 8px 1px #252525;
  transition: 0.3s;
}

.CTA-button:not(:hover) {
  box-shadow: 0px 0px 0px 0px;
  transition: 0.3s;
}

.main {
  display: grid;
  background-color: #ffd074;
  height: 85vh;
  place-content: center;
}

.form-container {
  display: grid;
  grid-template-areas: "demo-form demo-form form-image";
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #ffd5e1;
  height: auto;
  width: 1000px;
  border-radius: 15px;
  border: 1px solid #252525;
  box-shadow: 2px 2px 10px 1px #7d7d7d;
  padding: 50px 0px 50px 50px;
}

.form-headline {
  align-self: center;
  text-align: left;
  margin: 20px;
  font-weight: 400;
  grid-column: span 2;
}

.form-image {
  display: grid;
  grid-column: 4/5;
  opacity: 75%;
}

.demo-form {
  display: grid;
  grid-column: 1/2;
  grid-template-columns: 1fr 1fr;
}

input {
  font-family: Lexend;
  font-weight: 200;
  padding: 15px;
  border-radius: 20px;
  border: none;
  outline: 1px solid #252525;
  margin: 10px;
}

input:focus {
  color: #252525;
  background-color: #ffd074;
  transition: 0.3s;
  outline: 3px rgb(255, 255, 255) solid;
}

input:not(:focus) {
  outline: none;
  transition: 0.3s;
}

span {
  grid-column: span 2;
  font-weight: 600;
  color: #252525;
  margin-top: 20px;
  margin-bottom: 10px;
}

input[name="email"] {
  font-size: 1.2rem;
  grid-column: span 2;
}

input[name="firstname"] {
  font-size: 1.2rem;
  grid-column: span 1;
}

input[name="lastname"] {
  font-size: 1.2rem;
  grid-column: span 1;
}

input[name="companyname"] {
  font-size: 1.2rem;
  grid-column: span 2;
}

input[name="password"] {
  font-size: 1.2rem;
  grid-column: span 2;
}

input[name="companysize"] {
  font-size: 1.2rem;
  grid-row: span 2;
}

input[name="whatareyoulookingfor"] {
  grid-row: span 2;
}

input[type="submit"] {
  padding: 15px 0px 15px 0px;
  width: 200px;
  font-size: 0.9rem;
  border-radius: 10px;
  background-color: #252525;
  color: aliceblue;
  border: none;
  font-weight: 400;
  margin-left: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(54, 165, 54);
  color: aliceblue;
  outline: none;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

input[type="submit"]:not(:hover) {
  background-color: #252525;
  color: aliceblue;
  outline: none;
  transition: 0.3s ease-in-out;
  transform: scale(1);
}

input[type="checkbox"] {
  border-radius: 0px;
  outline: none;
}

input[type="radio"] {
  border-radius: 20px;
  outline: none;
}

.radio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
  grid-column: span 2;
}

.radio-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

.radio-buttons input[type="radio"] {
  margin: 0;
}

.radio-buttons label {
  margin-left: 5px; /* Adjust the margin to your preferred spacing */
}

/* .checkboxes {
  display: grid;
  grid-template-areas:
    "producttours areliabledemoenvironment"
    "customizedlivedemos demoamobileapp";

  grid-template-columns: 1fr 8fr;
  text-align: left;
} */

.checkboxes {
  grid-column: span 1;
}

.checkbox-label {
  margin-top: 5px;
}

.banner {
  background-color: rgb(0, 93, 229);
  position: sticky;
  height: 10vh;
  display: grid;
  place-content: center;
  grid-column: 1fr 1fr;
  grid-template-areas: "banner-headline banner-CTA-button";
}

.banner-headline {
  color: aliceblue;
  margin-right: 50px;
  font-weight: 400;
  font-size: 1.2rem;
  align-self: center;
}

.banner-CTA-button {
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: aliceblue;
  color: #252525;
  border: none;
  font-weight: 400;
  cursor: pointer;
}
